body {
    font-family: 'Press Start 2P', cursive;
    background-color: #87CEEB;
}

.grid-cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
}

.item-list {
    max-height: 300px;
    overflow-y: auto;
}



.recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.grid-container {
    width: 150px;
}

#mesa {
    background-image: url('./assets/img/Crafting3x3.webp');

    background-size: contain;

    background-repeat: no-repeat;

    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    width: 100%;

    max-width: 400px;

    aspect-ratio: 1;

}

#cuadricula1 {
    position: absolute;

    top: 55%;

    left: 21%;
    transform: translate(-50%, -50%);

}

#cuadricula2 {
    position: absolute;
    top: 54%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#mesa .recipe-list {
    position: absolute;
    top: 53%;
    left: 87%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#selected-items{
    position: absolute;
    top: 45%;
    left: 81%;
    z-index: 1;
}

#mesa .grid-container .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    height: auto;
}

#mesa .grid-container .grid-cell {
    background: transparent ;
    border: none;
    aspect-ratio: 1;
}

.grid-3x3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    gap: 10px;
    height: auto;
}

.dependency-list {
    width: 30%;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 20px;
    margin-top: 80px;
}

#dependency-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.item-list {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

@media (max-width: 768px) {

    #mesa {
        background-image: url('./assets/img/Crafting3x3.webp');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        max-width: 400px;
        aspect-ratio: 1;
    }

    .dependency-list {
        width: 100%;
        max-height: 300px;
        overflow-y: auto;
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 1px;
    }

    .grid-cell {
        width: 45px;
        height: 45px;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        text-align: center;
    }

    #cuadricula1 {
        position: absolute;
        top: 56%;
        left: 23%;
        transform: translate(-50%, -50%);
    }
    
    #cuadricula2 {
        position: absolute;
        top: 54%;
        left: 23%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    
    #mesa .recipe-list {
        position: absolute;
        top: 53%;
        left: 87%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    
    #selected-items{
        position: absolute;
        top: 43%;
        left: 81%;
        z-index: 1;
    }

    
}